<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomeokin.example.jotablayout">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/app_name"
        android:name=".TabLayoutActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:label="@string/app_name"
        android:name=".MainActivity"/>
    <activity
        android:label="@string/app_name"
        android:name=".ChangeImageColorActivity"/>
    <activity
        android:label="@string/app_name"
        android:name=".ClipChildrenActivity"/>
    <activity
        android:label="@string/app_name"
        android:name=".TwoActivity"/>
  </application>

</manifest>
